<!DOCTYPE html>
<html>
  <head>
    <title>VermilionBazaar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="card_display_ID">
      <h3><%= link_to "Cart", cart_path, class: "btn btn-info" %></h3>
    </div>
    <%= yield %>
  </body>
</html>
